<footer class="block block--dark footer">
  <div class="container grid footer__sections">
      <section class="collapsible collapsible--expanded footer__section">
          <div class="collapsible__header">
              <h2 class="collapsible__heading footer__heading">Pages</h2>
              <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="/static/assets/images/sprite.svg#chevron"></use>
      </svg>
          </div>
          <div class="collapsible__content">
              <ul class="list">
                  <li><a href="/share">Share</a></li>
                  <li><a href="/edit">Edit files</a></li>
                  <li><a href="/forum">Discussion Forums</a></li>
              </ul>
          </div>
      </section>
      <!-- <section class="collapsible footer__section">
          <div class="collapsible__header">
              <h2 class="collapsible__heading footer__heading">Company</h2>
              <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="/static/assets/images/sprite.svg#chevron"></use>
      </svg>
          </div>
          <div class="collapsible__content">
              <ul class="list">
                  <li><a href="/home#about">About</a></li>
                  <li><a href="/home#affilliates">Affiliates</a></li>
                  <li><a href="/blog">Blog</a></li>
              </ul>
          </div>
      </section> -->
      <section class="collapsible footer__section">
          <div class="collapsible__header">
              <h2 class="collapsible__heading footer__heading">Support</h2>
              <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="/static/assets/images/sprite.svg#chevron"></use>
      </svg>
          </div>
          <div class="collapsible__content">
              <ul class="list">
                  <li><a href="/users/register">Register</a></li>
                  <li><a href="/contact">Contact Us</a></li>
                  <li><a href="/devportal">Developer's portal</a></li>
              </ul>
          </div>
      </section>
      <div class="footer__brand">
          <div class="xx_nav_brand">
              <img src="/static/assets/rocket.svg" id="xx_brand_logo">
              <span><a href="/">Rocket Share</a></span>
          </div>
      </div>
  </div>
</footer>