<nav class="nav collapsible">
  <div class="xx_nav_brand">
      <img src="/static/assets/rocket.svg" id="xx_brand_logo">
      <span href="/" class="normal-link">Rocket Share</a></span>
  </div>
  <svg class="icon icon--white nav__toggler">
  <use xlink:href="/static/assets/images/sprite.svg#menu"></use>
</svg>
  <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="/users/login">Login</a></li>
      <li class="nav__item"><a href="/users/register">Sign Up</a></li>
      <li class="nav__item"><a href="/share">Share</a></li>
      <li class="nav__item"><a href="/forum">Forum</a></li>
  </ul>
</nav>