<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Page</title>
</head>

<body>
    <h1>File Viewing page</h1>

    <ul>
        <li>id =
            <%= locals.id %>
        </li>
        <li>originalname =
            <%= locals.originalname %>
        </li>
        <li>size =
            <%= locals.size %>
        </li>
        <li>downloadLink =
            <%= locals.downloadLink %>
        </li>
    </ul>
</body>

</html>