<%- include('./partials/navbar.ejs') %>
  <div class="line"></div>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/static/assets/images/Mobile-login.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
                <h3>Login</h3>
                <p class="mb-4">Login to access your account</p>
              </div>

              <form action="">
                <div class="form-group mb">
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                </div>
                <div class="form-group mb-3">
                  <label for="password">Password</label>
                  <input type="password" id="password" name="password" class="form-control"
                    placeholder="Enter Password" />
                </div>
                <button type="submit" class="btn btn-primary p-3" style="text-transform: lowercase;">Login</button>
              </form>
              <p class="lead mt-4">
                No Account? <a href="/users/register">Register</a>
              </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>