<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Share your file in less than 60 seconds."
    />
    <title>Rocket File Share - Share files quickly</title>
    <link rel="shortcut icon" href="/static/favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/icomoon/style.css">

    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/static/css/journal.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/static/css/style.css">
    
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Sign Up</title>
  </head>
  <body>
  
<header>
      <nav class="nav collapsible">
        <div class="xx_nav_brand">
          <img src="/static/assets/rocket.svg" id="xx_brand_logo"> 
          <span><a href="../" class="normal-link">Rocket Share</a></span>
        </div>
        <svg class="icon icon--white nav__toggler">
          <use xlink:href="/static/assets/images/sprite.svg#menu"></use>
        </svg>
        <ul class="list nav__list collapsible__content">
          <li class="nav__item"><a href="/home">Home</a></li>
          <li class="nav__item"><a href="/users/login">Login</a></li>
          <li class="nav__item"><a href="/users/register">Sign Up</a></li>
          <li class="nav__item"><a href="/share">Share</a></li>
          <li class="nav__item"><a href="#">Forum</a></li>
        </ul>
      </nav>
    </header>
    <div class="line"></div>
  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- <img src="images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid"> -->
          <img src="/static/assets/images/bg-img.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Sign Up</h3>
              <p class="mb-4">Register and ejoy amazing perks provided by Rocket Share 🚀</p>
            </div>
            <%- include ("./partials/messages"); %>
            <form action="/users/register" method="POST">
              <div class="form-group first">
                <label for="fullname">Full name</label>
                <input type="text" class="form-control" name="name" id="name" id="fullname">

              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
                
              </div>
              <div class="form-group last mb-4">
                <label for="re-password">Re-type Password</label>
                <input type="password" class="form-control" id="re-password" name="password2">
                
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Creating an account means you're okay with our <a href="#">Terms and Conditions</a> and our <a href="#">Privacy Policy</a>.</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
              </div>

              <input type="submit" value="Register" class="btn btn-block btn-primary">

              <span class="d-block text-left my-4 text-muted">&mdash; or register with &mdash;</span>
              
              <div class="social-login">
                <a href="#" class="facebook">
                  <span class="icon-facebook mr-3"></span> 
                </a>
                <a href="#" class="twitter">
                  <span class="icon-twitter mr-3"></span> 
                </a>
                <a href="#" class="google">
                  <span class="icon-google mr-3"></span> 
                </a>
              </div>
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  <footer class="block block--dark footer">
      <div class="container grid footer__sections">
        <section class="collapsible collapsible--expanded footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Pages</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="/static/assets/images/sprite.svg#chevron"></use>
            </svg>
          </div>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">Share</a></li>
              <li><a href="#">Edit files</a></li>
              <li><a href="#">Discussion Forums</a></li>
            </ul>
          </div>
        </section>
        <!-- <section class="collapsible footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Company</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="/static/assets/images/sprite.svg#chevron"></use>
            </svg>
          </div>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">About</a></li>
              <li><a href="#">Affiliates</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </section> -->
        <section class="collapsible footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Support</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="/static/assets/images/sprite.svg#chevron"></use>
            </svg>
          </div>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">Contact</a></li>
              <li><a href="#">Knowledge Base</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
        </section>
        <div class="footer__brand">
          <div class="xx_nav_brand">
            <img src="/static/assets/rocket.svg" id="xx_brand_logo"> 
            <span><a href="../">Rocket Share</a></span>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

  
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>