<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="shortcut icon" href="/static/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/journal.css">
</head>
<body>
  <div class="mt-5">
    <div class="col-md-5 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-rocketchat"></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>
</body>
</html>