<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Share File</title>

	<link rel="stylesheet" href="/sharepage/css/style.css">
	<script src="/sharepage/js/script.js" defer></script>
</head>
<body>
	<div class="main-container">
		<section class="upload-container">
			<div class="drop-zone">
				<div class="icon-container">
					
				</div>
			</div>
		</section>
	</div>
</body>
</html>