<link rel="stylesheet" href="/index_css/normalize.css" />
<link rel="stylesheet" href="/index_css/styles.css" />

<nav class="nav collapsible">
  <div class="xx_nav_brand">
    <img src="/svgs/rocket1.svg" id="xx_brand_logo">
    <span><a href="/" class="normal-link">Rocket Share</a></span>
  </div>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="/images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="/">Home</a></li>
    <li class="nav__item"><a href="/registrationpages/login.html">Login</a></li>
    <li class="nav__item"><a href="/registrationpages/signup.html">Sign Up</a></li>
    <li class="nav__item"><a href="/share/">Share</a></li>
    <li class="nav__item"><a href="/forum/">Forum</a></li>
  </ul>
</nav>

<script>
  document.querySelectorAll('nav > ul > li').forEach(link => {
    if (link.querySelector('a').href === window.location.href) link.classList.add('active')
  })
</script>