@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
    margin-top: 110px;
    font-family: 'Montserrat', sans-serif;
}

/* ----------------------------- Nav Bar Styling: Start ---------------------------- */
#nav_logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

nav {
    height: 70px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    background: #98ded9;
    justify-content: space-between;
    border-bottom: 1px solid white;
    font-weight: 500;
}

nav > div{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div.right a{
    text-decoration: none;
    color: black;
    /* padding:0 20px 0; */
    margin-right: 20px;
    margin-left: 20px;
    transition: 0.3s ease-out;
    
}

div.left {font-size: 125%;    font-family: 'Indie Flower', cursive;}

nav div.right a:hover{
    transition: 0.3s ease-out;
    /* font-size: 20px; */
    /* font-weight: bold; */
    /* padding-left: 10px; 
    padding-right: 10px; */
    /* padding: 10px; */
    color: rgb(56, 9, 103);
    border-bottom: 4px solid #161d6f;
    /* border-top: 4px solid #161d6f; */
}

nav ul{
    list-style-type: none;
    /* padding: 5px; */
}


nav div.right ul{
    display: flex;
    list-style-type: none;
}
/* ----------------------------- Nav Bar Styling: End ---------------------------- */

@media(max-width: 600px)
{
    nav {
        height: 70px;
        padding: 10px;
        font-size: 18px;
        display: flex;
        position: fixed;
        overflow: hidden;
        top: 0;
        width: 100%;
        background: #98ded9;
        justify-content: space-between;
        border-bottom: 1px solid white;
        font-weight: 500;
    }

    nav div.right a{
        font-size: 70%;
        text-decoration: none;
        color: black;
        /* padding:0 20px 0; */
        margin-right: 6px;
        margin-left: 6px;
        transition: 0.3s ease-out;
        
    }
    
    div.left {font-size: 100%;    font-family: 'Indie Flower', cursive;}
    
    nav div.right a:hover{
        transition: 0.3s ease-out;
        /* font-size: 20px; */
        /* font-weight: bold; */
        /* padding-left: 10px; 
        padding-right: 10px; */
        /* padding: 10px; */
        color: rgb(56, 9, 103);
        border-bottom: 4px solid #161d6f;
        /* border-top: 4px solid #161d6f; */
    }
    

}

/* -------------------------------- Footer Styling -------------------------------- */

.col{
    width: 50%;
    float: left;
    padding: 20px;
}

.myfooter{
    height: auto;
    width: 100%;
    background-color: #474747;
    color: azure;
    
}

.col div{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.col a{
    margin: 0px 30px;
    border-radius: 50%;
    box-shadow: 2px 0px 1px #000000;
}

.col a:hover{
    box-shadow: 5px 2px 2px #000000;
}

.col a:active{
    transform: translate(1px,1px);
    box-shadow: 3px 1px 2px #000000;
}

.col h3{
    font-family: 'Montserrat', sans-serif;
}

/* @media(max-width: 1000px)
{
    .col p{
        font-size: 14px;
    }
    
} */

@media(max-width: 800px){
    .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 0.7em;
    }
    .col2{
        text-align:center;
        width: 100%;

    }

    .col1{
        /* display:flex;
        flex-direction: column;
        align-items:flex-start; */
        margin-left:20px  !important;
        
    }
    .col1 img{
        margin-right: 5px;
    }
}

.container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.col1{
    margin-left: 90px;
    margin-top: 20px;
}

.col1 p{
    margin-bottom: 20px;
}